.card
{
    height: 200px;
    width: 300px;
    padding: 2em;
    background-color: yellow;
}

.d-none
{
    display: none;
}
.d-flex
{
    display: flex;
    justify-content: center;
    align-items: center;
}